
.picture {
    background-color: #ffffff;
    box-shadow: #c08266 0px 4px 6px 0px;
    width: 130px;
    height: 130px;
    border: #6b6b6b solid 2px;
}

.box1 {
    background-color: #dabb96;
    height: auto;
    border-radius: 8px;
    width: 45%;
    margin-top: 20px;
    border: black solid 2px;
    margin-bottom: 20px;
}

.img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.boxtabel {
    color: #ffffff;
    font-size: 27px;
    margin-top: 10px;
}


.btnedit {
    margin-top: 100px;
    margin-left: 19%;
}