.fontlist {
    margin-top: 50px;
    color: #000000;
}

.hr {
    margin-top: -25px;
    color: #a4743b;
}

.img {
    margin-left: 10px;
    width: 50px;
    margin-top: -5px;
}

.img {
    margin-left: 10px;
    width: 40px;
    margin-top: 5px;
}



