
nav.main-nav{
    background: rgb(51, 51, 51);
    background-image: linear-gradient(top,#2f2f2f,#4f4f4f);
    width: 100%;
}

.top-nav{
    height: 30px;
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 5px;
}

.top-nav li a:hover{
    color: rgb(245, 178, 33);
}

nav .submenu {
    margin-top: 28.5px;
    display: none;
    font-family: Kanit;
}

nav ul li:hover .submenu {
    display: block;
    width: 150px;
}

nav .submenu li {
    display: block;
    background-color: #a41212;
    width: 150px;
    font-family: Kanit;
}

nav .submenu li a {
    padding: 2px;
    color: #fff;
    width: 150px;
    margin-top: 5px;
    font-size: 12px;
}

